name: Basic CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macOS-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.1.1'

      - name: Install R dependencies
        run: |
          Rscript -e "install.packages('ggplot2', repos='https://cloud.r-project.org')"

      - name: Run basic R script
        run: |
          Rscript -e "happy <- read.csv('happiness_report_2022.csv'); print(head(happy)); print(summary(happy$score))"

      - name: CI Success
        run: echo "GitHub Actions workflow completed successfully."
